body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
span{color: goldenrod;}
.flexible-container{
    display: flex;
    margin-bottom: 20px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    }
.top-banner{
    background-image: url(picture/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(picture/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.nai{
    padding-left: 0%;
    padding-right: 100px;
}
.hobe{
    display: flex;
    background-image: url(picture/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 8%;
}
.last-footer{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}
.experienceitem{
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
}
#webdeveloper{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#babydeveloper{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}